<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script src="angular.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
</head>

<body ng-app="myapp">
    <div ng-controller="myCtrl as myCtrl">
        <div class="mainForm">
            <span>
			todo
		</span>
            <form ng-submit="myCtrl.add()">
                <input type="text" ng-model="myCtrl.todo" my-input>
                <div>
                    {{myCtrl.todo}}
                </div>
            </form>
            <div ng-repeat="list in myCtrl.lists">
                {{list.name}} {{value}}
            </div>
        </div>
    </div>

</body>

</html>