<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="angular.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
</head>

<body ng-app="myapp">
    <div ng-controller="myCtrl as myCtrl">
        <div class="mainForm">
            <span>
			todo
		</span>
            <form ng-submit="myCtrl.add()">
                <input type="text" ng-model="myCtrl.todo">
                <div>
                    {{myCtrl.todo}}
                </div>
            </form>
            <div ng-repeat="list in myCtrl.lists">
                <ul class="todoList">
                    <li>
                        <input type="checkbox" ng-checked="list.status" ng-click="myCtrl.change(list.id)">{{list.status}} {{statuss}} {{list.id}} {{list.name}} <span class="delete fa fa-times" aria-hidden="true" ng-click="myCtrl.deleteItem(list.id)"></span> <span class="fa fa-pencil" aria-hidden="true" ng-click="myCtrl.renameShow(list.id)"></span> </li>
                </ul>

            </div>
            <input class="renameInput form-control" type="text" ng-model="myCtrl.renameInput" ng-show="myCtrl.renameVar" name={{list.id}}>
        </div>
    </div>

</body>

</html>