.mainForm{
	margin: 0 auto;
	max-width: 500px;
	background-color: #eee;
	border-radius: 7px;
	box-shadow: 1px 7px 75px 0px rgba(0,0,0,0.75);
	padding: 10px;
}
.mainForm span{
	text-align: center;
	margin: auto 0;
	display:block;
}