.mainForm{
	margin: 0 auto;
	max-width: 500px;
	background-color: #eee;
	border-radius: 7px;
	box-shadow: 1px 7px 75px 0px rgba(0,0,0,0.75);
	padding: 10px;
}


.todoList{
    list-style-type: none;
    padding-left: 0;
    background: #3fa46a;
    margin-top: 40px;
    color: #fff;
}
.todoList li {
    transition: 0.3s ease;
    position: relative;
  background: #3fa46a;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #3fa46a;
  border-bottom: 4px solid #3fa46a;
  padding: 10px 0;
  margin: 0 10px;
}
.todoList li:hover {
   border-top: 4px solid #FFF;
  border-bottom: 4px solid #FFF;
  padding: 10px 0 10px 10px;
}

.todoList li span{
    float: right;
    color: #FFF;
    display:none;
}

.todoList li:hover span{
    display:block;
    transform: 0.3s ease;
}
